#filestart:$classInfo.className#if(not $classInfo.isBean)Message#end.h
class $classInfo.className\0#if(not $classInfo.isBean)Message#end
{
	public:
		$classInfo.className#if(not $classInfo.isBean)Message#end(){};
		~$classInfo.className#if(not $classInfo.isBean)Message#end(){};
		void Reset()
		{

		};
		$classInfo.className#if(not $classInfo.isBean)Message#end* Clone()
		{

		};
	private:
#foreach($field  in $fields)
		$field.fieldType _$field.fieldName;
#end
	public:
#foreach($field  in $fields)
		$field.fieldType Get$field.fieldName\0()
		{
			return _$field.fieldName;
		};
		void Set$field.fieldName\0($field.fieldType ___$field.fieldName)
		{
			_$field.fieldName=___$field.fieldName;
		};
#end
}
#fileend
#filestart:$classInfo.className#if(not $classInfo.isBean)Message#end.cpp
\#include "$classInfo.className#if(not $classInfo.isBean)Message#end.h"
#fileend