#filestart:$classInfo.className#if(not $classInfo.isBean)Message#end.go
package $PACKAGENAME$

var $classInfo.className#if(not $classInfo.isBean)Message#end struct {
#foreach($field in #fields)	
	$field.fieldName $field.fieldType
#end
}

#foreach($field in $fields)	
func (_$classInfo.className#if(not $classInfo.isBean)Message#end *$classInfo.className#if(not $classInfo.isBean)Message#end) Get$field.fieldName\0() $field.fieldType {
	return _$classInfo.className#if(not $classInfo.isBean)Message#end.$field.fieldName\0()
}
#end

#fileend
