#filename:$CLASSNAME$.go
package $PACKAGENAME$

var $CLASSNAME$ struct {
<for $item$ : $Fields$>	
	$item$.$FieldsName$ $item$.$FieldsType$
</for>
}

<for $item$ : $Fields$>	
func (_$CLASSNAME$ *$CLASSNAME$) Get$item$.$FieldsName$() $item$.$FieldsType$ {
	return _$CLASSNAME$.$item$.$FieldsName$()
}
</for>
